// pkzo
// Copyright 2010-2026 Sean Farrell
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files(the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions :
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

#include "resource.h"

IDR_GLSL_FORWARD_VERT                 GLSL "Forward.vert"
IDR_GLSL_FORWARD_FRAG                 GLSL "Forward.frag"
IDR_GLSL_GENERATE_CUBEMAP_VERT        GLSL "GenerateCubemap.vert"
IDR_GLSL_GENERATE_CUBEMAP_FRAG        GLSL "GenerateCubemap.frag"
IDR_GLSL_FILTER_CUBEMAP_DIFFUSE_FRAG  GLSL "FilterCubemapDiffuse.frag"
IDR_GLSL_FILTER_CUBEMAP_SPECULAR_FRAG GLSL "FilterCubemapSpecular.frag"
IDR_GLSL_SKYBOX_VERT                  GLSL "Skybox.vert"
IDR_GLSL_SKYBOX_FRAG                  GLSL "Skybox.frag"
IDR_GLSL_DEBUG_LINE_VERT              GLSL "DebugLine.vert"
IDR_GLSL_DEBUG_LINE_FRAG              GLSL "DebugLine.frag"

IDR_GLSL_MATH                         GLSL "math.glsl"